@import url(swiper-bundle.min.css);

.section.banner-carousel-container .banner-carousel-wrapper {
    position: relative;
}
.section.banner-carousel-container .default-content-wrapper {
    z-index: 1;
    color: white;
    margin: auto;
    position: absolute;
    top: 36%;
    left: 49%;
    transform: translate(-50%, -50%);
    max-width: 1183px;
    width: 100%;
    margin: auto;
}
.section.banner-carousel-container .default-content-wrapper h2 {
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.section.banner-carousel-container .default-content-wrapper p {
    color: #fedeb3;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.87px; /* 349.349% */
    letter-spacing: 4px;
    text-transform: uppercase;
}
.banner-carousel-container {
    position: relative;
}

/* cards */

.section.banner-carousel-container.cards-container .cards-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, -50%);
    max-width: 1216px;
    width: 100%;
}
.section.banner-carousel-container.cards-container .cards-wrapper .cards-block {
    margin: auto;
    width: 100%;
    max-width: 1216px;
}
.section.banner-carousel-container.cards-container .cards-wrapper .cards.block li {
    max-width: 192px;
    border-radius: 12px;
    background: rgba(210, 227, 244, 0.32);
    box-shadow: 0 0 16px -4px rgba(17, 24, 39, 0.1);
    backdrop-filter: blur(4.800000190734863px);
}
.section.banner-carousel-container.cards-container .cards-wrapper .cards.block ul {
    gap: 12px;
    grid-template-columns: none;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}
.section.banner-carousel-container.cards-container .cards-wrapper .cards-block li .cards-card-image img {
    max-width: 152px;
}

section.banner-carousel-container .cards-wrapper .cards-card-body {
    margin: unset;
}

section.banner-carousel-container .cards-wrapper .cards-card-body p {
    color: white;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
}

.section.banner-carousel-container.cards-container .cards-wrapper .cards-card-image img {
    margin: unset;
    width: 60px;
    height: 60px;
}
